<h1> Manage Your Ingredient Lists </h1>

<!-- Button uses post by default, so this will route to -->
<!-- create method -->
<%= button_to "Create new list", ingredient_lists_path %>

<br/>
<br/>
<!-- Render table only if there is a list -->
<% if @ingredient_lists.any? %>
  <table border = '1'>
    <thead>
      <th>Title</th>
    </thead>
    <tbody data-testid = "ingredient-lists-table-body">
      <% @ingredient_lists.each do |l| %>
        <tr data-testid = "ingredient-list-<%= l.id %>">
          <td> <%= l.title %> </td>
          <td>
            <%= button_to "View/Edit", ingredient_list_path(l), method: :get %>
          </td>
          <td>
            <%= button_to "Delete", ingredient_list_path(l), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
