<h1>Dashboard of <%= current_user.first_name %> <%= current_user.last_name %></h1>
<h2>(<%= current_user.email %>)</h2>

<%= button_to "Manage Ingredient Lists",
    ingredient_lists_path,
    method: :get,
    id: 'manage-ingredient-lists-btn' %>

<br/>

<%= button_to "Manage Saved Recipes",
    saved_recipes_path, 
    method: :get, 
    id: 'saved-recipes-btn' %>

<br/>

<!-- local: true set because we want a new page getting loaded on -->
<!-- form submission and not an AJAX request -->
<%= form_with id: 'recipe-search-form',
              url: recipes_search_intermediate_path,
              method: :get,
              local: true do %>
  <%= select_tag :ingredient_list_id,
      options_from_collection_for_select(@current_user_ingredient_lists, :id, :title),
      {
        id: "ingredient-list-selection-dropdown",
        prompt: "Select an Ingredient List"
      } %>

  <%= submit_tag "Search Recipe", id: "recipe-search-submit" %>
<% end %>
